{% extends "partials/authmaster.html" %}

{% block content %}
<div class="card authentication-field">
    <div class="card-body login-card-body">

        <div class="heading-section">
            <h2 class="auth-heading">Login</h2>
            <p class="auth-description">Please log in to continue</p>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form id="loginForm"
              action="{{ request.url_for('login_submit') }}"
              method="post"
              novalidate>

            <div class="input-field">
                <div class="input-group ">
                <input name="email"
                       type="email"
                       class="form-control"
                       placeholder="Enter your email"
                       required>
                </div>
            </div>

            <div class="input-field mt-3">
                <div class="input-group">
                    <input name="password"
                           type="password"
                           class="form-control password_field"
                           placeholder="Password"
                           required minlength="6">

                    <button type="button" class="pass-show-hide-btn">
                        <img src="{{ url_for('static', path='assets/icon/eye-hide-icon.svg') }}"
                             class="toggle_password">
                    </button>
                </div>
            </div>

            <button type="submit"
                    class="btn button-default w-100 mt-4">
                Log In
            </button>
            <div class="login-forget-password">
						<div class="my-1 text-right">
						<a href="{{ request.url_for('forgot_password_page') }}">
                    Forgot password?
                </a>
			</div>
			</div>

        </form>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$("#loginForm").validate({
    rules: {
        email: { required: true, email: true },
        password: { required: true, minlength: 6 }
    },
    errorElement: "span",
    errorClass: "invalid-feedback",
    highlight: el => $(el).addClass("is-invalid"),
    unhighlight: el => $(el).removeClass("is-invalid")
});

/* Password show / hide */
document.querySelector(".toggle_password").addEventListener("click", function () {
    const input = document.querySelector(".password_field");
    const hidden = input.type === "password";

    input.type = hidden ? "text" : "password";
    this.src = hidden
        ? "{{ url_for('static', path='assets/icon/eye-show-icon.svg') }}"
        : "{{ url_for('static', path='assets/icon/eye-hide-icon.svg') }}";
});
</script>
{% endblock %}
